/* Style for H1 */
h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

/* Style for paragraph */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Profile */
.profile {
    background-color: #FFC7E2; /* light pink */ 
    font-weight: bold;
    padding: 20px; 
    border-radius: 8px;
}

/* --- NAV styles--- */

/* Navbar container */
nav {
    background-color: #333;   /* dark gray */
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Navbar horizontal - stays at the top of page*/
.navbar {
    list-style: none;
    display: flex;
    justify-content: center;  
    margin: 0;
    padding: 0;
}

/* Navbar links */
.navbar li a {
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    transition: color 0.2s;
}

/* Hover color for links */
.navbar li a:hover {
    color: #FFC7E2;  /* light pink*/
}

/* Interests Section */
.interests {
    background-color: #FFC7E2;  /*light pinl*/
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

/* Tech Hero Section */
.techHeroSection {
    background-color: #FFC7E2;  /*light pink */ 
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

/* Tech Hero Image */ 
.tech-hero {
    display: flex; 
    align-items: flex-start;
    gap: 20px;         
}

.hero-image {
    width: 250px;
    height: auto;
}

.hero-text {
    max-width: auto;
}

/* Responsive */
@media (max-width: 760px) {
    .tech-hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-image {
        width: 80%;
    }
}
    .christian-profile {
    background-color: #3498db;  /* blue */ 
    color: black;                
    padding: 20px;               
    margin-top: 50px;            
    border-radius: 8px;          
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.christian-profile h2 {
    color: black;             
    margin-bottom: 15px;
}

.christian-profile p {
    line-height: 1.5;           
    color: black;             
}  

.ChristiansInterests {
    background-color: #3498db; /* blue */ 
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

/* table styles */ 
table {
    margin-left: auto; /* center table */ 
    margin-right: auto;
}


.h2Text {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;

}


