/* Style for H1 */
h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

/* Style for paragraph */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Profile */
.profile {
    background-color: lightpink;
    font-weight: bold;
    padding: 20px; 
    border-radius: 8px;
}

/* --- NAV styles--- */

/* Navbar container */
nav {
    background-color: #333;   /* dark gray */
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Navbar horizontal - stays at the top of page*/
.navbar {
    list-style: none;
    display: flex;
    justify-content: center;  
    margin: 0;
    padding: 0;
}

/* Navbar links */
.navbar li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    transition: color 0.2s;
}

/* Hover color for links */
.navbar li a:hover {
    color: lightpink;  
}

/* Interests Section */
.interests {
    background-color: lightpink; 
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

/* Tech Hero Section */
.contact {
    background-color: lightpink; 
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

/* Tech Hero Image */ 
.tech-hero {
    display: flex; 
    align-items: flex-start;
    gap: 20px;         
}

.hero-image {
    width: 250px;
    height: auto;
}

.hero-text {
    max-width: 600px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .tech-hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-image {
        width: 80%;
    }
}


